!!!
%html
	%head
		%title
			Oak Project Management - #{content_for(:title) || "Foo"}
		%meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}/
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
		/[if lt IE 9]
			%script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js", type: "text/javascript"}
		= stylesheet_link_tag "application"
		= javascript_include_tag 'application'
		= csrf_meta_tag
		= yield(:head)

	%body
		= render 'layouts/navbar'
		.container-fluid
			- flash.each do |name, msg|
				%div{class: ["alert", "alert-#{name == :notice && 'success' || 'error'}"] }
					%a.close{data: { dismiss: 'alert' } } ×
					= msg
			.row-fluid
				.span3
					%h2= yield(:title) || "Untitled"
				.span9= yield
